<div class="card_customer">
  <div class="card-group">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">
        <%= customer.fullname %>
      </h4>
        <%= link_to 'View', customer_path(customer) %>
      </div>
    </div>
  <div class="card">
    <div class="card-block">
      <p class="card-text">
        <% if customer.avatar.present? %>
          <%= image_tag customer.avatar, :width => '250', :height => '200' %>
        <% else %>
          Nothing to see here
        <% end %>
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <div class="card-text">
        <p class="card-text"><strong>Phone: </strong><%= customer.phone %></p>
        <p><strong>Email: </strong><%= customer.email %></p>
        <p><strong>Province: </strong>
          <% if customer.province.present? %>
            <%= customer.province.name %>
          <% else %>
            Unknown
            <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
</div>
