<div class="card_customer">
  <div class="card-group">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">
        <%= product.name %>
      </h4>
      <p><%= product.description %></P>

        <h6><%= link_to 'View', showproduct_path(product) %></h6>
      </div>
    </div>
  <div class="card">
    <div class="card-block">
      <p class="card-text">
        <% if product.image.present? %>
          <%= image_tag product.image, :width => '250', :height => '200' %>
        <% else %>
          Nothing to see here
        <% end %>
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <div class="card-text">
        <p class="card-text"><strong><%= number_to_currency product.price %></strong></p>
          <p><span class="tag tag-pill tag-default">
            <% if product.category.present? %>
              <%= product.category.title %>
            <% else %>
              Unknown
              <% end %>
          </p>
      </div>
    </div>
  </div>
</div>
</div>
